.lesson-list h3 {
    margin-top: 0;
}

.lesson-list .lessons {
    /* max-height: 300px; */
    height: 373px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.lesson-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f0f8ff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.lesson-icons {
    display: flex;
    gap: 10px;
}

.lesson-icons .edit-icon {
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s;
}

.lesson-icons .edit-icon:hover {
    color: #0056b3;
}

.lesson-icons .delete-icon {
    color: #dc3545;
    cursor: pointer;
    transition: color 0.3s;
}

.lesson-icons .delete-icon:hover {
    color: #a71d2a;
}

.lesson-actions {
    display: flex;
    justify-content: space-between;
}

.btn-create {
    padding: 10px 20px;
    background-color: #1e3a8a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-create:hover {
    background-color: #315ca7;
}
